.starter-template {
	font-style: 20px;
}

footer {
	background: #1a265c;
	color: #fff;
	padding: 5px;
}

.error-fieldBorder {
	border-left: 5px solid red;
}

.inline-field-error {
	color: red;
}